<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="./images/favicon-insolaris.png" type="image/x-icon">
    <title>Insolaris</title>
</head>
<body>
  <div class="homepage">
      <div class="container">
        <header class="top-bar">
            <h1>
                <span id="titulo">Insolaris</span>
            </h1>
            <div class="menu-icon"><img src="./images/menu-burger.png"></div>
        </header>
        <p class="slogan">
            A economia que<br>
            faz a diferença<br>
            no mundo
        </p>
          <img src="./images/insolaris.png" alt="Sol" class="sun-icon">
      </div>

      <div class="page2">
            <span id="titulo">Insolaris</span>
            <div class="menu-icon"><img src="./images/menu-burger.png">
            </div>
      </div>
  </div>
</body>
</html>
</html>